<p class="text-center text-muted">&copy; Copyright 2022 The Tweets Page!</p>
      
      
      
      
      
      
      
      <!-- defined as 2:nd arg in method res.render
    
     
        <!-- defined as app.locals -->
        <!-- <% if (locals.berries) { %>
        <div>Bär: <%= berries %></div>
        <% } %> -->

        <!-- NOT defined server-side -->
        <!-- <% if (locals.plums) { %>
        <div>Plommon: <%= plums %></div>
        <% } %> --> 

