<header>
    <!-- use ejs: param object -->
    
 
    <nav>
        <a href="/">Start</a> | <a href="/user">Users</a> | <a href="/makeTweet">Make Tweet</a> | <a href="/user/seeTweet">See Tweet</a> 

        <% if (locals.username) { %>
            <p>
                <a href="/user/logout">Logga ut</a>
            </p>     
        <% } else { %>
            <p>
                <a href="/user/login">Logga in</a>
            </p>
        <% } %>

        
    
    </nav>
</header>
<hr>