<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <title>Logga in</title>
</head>

<body>

    <!-- include header -->
    <%- include("./partials/header.ejs") %>

    <% if (!!success_msg) { %>
        <div class="alert alert-success"><%= success_msg %></div>
    <% } %>
    
    <% if (!!error_msg) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
    <% } %>

        <!-- B. Visar hemsidan när res.render körs -->
        <h1>Logga in</h1>

     
        <!-- C. Här matas datan in och kör funktionen POST och action login -->
        <form action="/user/login" method="POST">
            <div class="input-field">
                <label for="username">Användar Namn</label>
                <input type="text" name="username" id="username">
    
                <label for="password">Lösenord</label>
                <input type="password" name="password" id="password" required>
            </div>
    
            <button type="submit">Logga In</button>
        </form>


        <script>
        </script>

</body>

</html>