<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" media="screen" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <title>Make Tweet</title>
</head>
<body>
    <hr>
    <!-- include header -->
    <% include("./partials/header.ejs") %>

    <h1>Make Tweet!</h1>

    <form action="/user/createTweet" method="POST">

        <div class="input-field">
            <label for="username">Användar Namn</label>
            <input type="text" name="username" id="username">

            <label for="textContent">Tweet Innehåll</label>
            <textarea id="textContent" name="textContent"></textarea>
        </div>

        <div class="row">
            <div class="input-field">
                <label for="status">Status</label>
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
            </div>
        </div>

        <div class="row">
            <label for="action">Action</label>
            <input type="submit" value="Save" name="action" class="btn">
            <input type="submit" value="Delete" name="action" class="btn">
            <input type="submit" value="Edit" name="action" class="btn">
        </div>

    </form>

    <h1>Edit Tweet</h1>
    <a href="/tweets/<%= tweet._id %>/edit">Redigera</a>


    <!-- Detta gör att formen kommer submit till updateTweetId function -->
    <form method="POST" action="/tweets/<%= tweet._id %>">
        <input type="hidden" name="_method" value="PUT">
    
        <div class="input-field">
            <label for="userName">Användar Namn</label>
            <input type="text" name="username" id="username" value="<%= tweet.username %>">
      
            <label for="textContent">Tweet Innehåll</label>
            <textarea id="textContent" name="textContent"><%= tweet.textContent %></textarea>
        </div>
      
        <div class="row">
            <div class="input-field">
                <label for="status">Status</label>
                <select id="status" name="status">
                    <option value="public" <% if (tweet.status === 'public') { %>selected<% } %>>Public</option>
                    <option value="private" <% if (tweet.status === 'private') { %>selected<% } %>>Private</option>
                </select>
            </div>
        </div>
      
        <div class="row">
            <label for="action">Action</label>
            <input type="submit" value="Save" name="action" class="btn">
            <input type="submit" value="Delete" name="action" class="btn">
        </div>
    </form>
   
    <footer>
        <% include('./partials/footer.ejs'); %>
    </footer>
</body>
</html>