<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura-dark.css" media="screen and (prefers-color-scheme: dark)" />
    <title>Make Tweet</title>
</head>
<body>
    <hr>
 
    <%- include("./partials/header.ejs") %>

    <!-- b. Visar sidan -->
    <h1>Make Tweet!</h1>

    <!-- c. Här matas data in och körs när knappen save trycks på -->
    <form action="/user/createTweet" method="POST">

        <div class="input-field">
            <label for="username">Användar Namn</label>
            <input type="text" name="username" id="username">

            <label for="textContent">Tweet Innehåll</label>
            <textarea id="textContent" name="textContent"></textarea>
        </div>

          <div class="row">
            <div class="input-field">
                <label for="status">Status</label>
                <select id="status" name="status">
                    <option value="public" <% if (tweet.status === 'public') { %>selected<% } %>>Public</option>
                    <option value="private" <% if (tweet.status === 'private') { %>selected<% } %>>Private</option>
                </select>
            </div>
        </div> 

        <div class="row">
            <label for="action">Action</label>
            <input type="submit" value="Save" name="action" class="btn">
            <input type="submit" value="Delete" name="action" class="btn">
            <input type="submit" value="Edit" name="action" class="btn">
            <a href="/user/logout" class="btn">Log out</a>
        </div>
    </form>
  
    <footer>
        <% include('./partials/footer.ejs'); %>
    </footer>
</body>
</html>